.mini-menu-button
{
    align-self: center;
    border-radius: 4px;
    box-shadow: 3px 3px 5px green;
    background-color: darkgreen;
    border: solid 1px lawngreen;
    color: lawngreen;
    font-weight: normal;
    text-wrap: avoid;
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(154, 183, 91, 0.5);
    user-select: none;
    position: relative;
}

.mini-menu-button:hover
{
    transform: scale(1.05);
}


@media (orientation: portrait) or (min-width: 1400px)
{
    :root 
    {
        --size: 6.5vh;
        --hideSize: -8vh;
        --fontSize: 4vh;
    }
    
    .mini-menu
    {
        width: var(--size);
        height: 100vh;

        position: absolute;
        left: 0;
        top: 0;

        transition: transform 1s, left 1s;

        z-index: 1;
        margin-left: 1vh;

        justify-content: space-evenly;
    }
    
    .hidden-mini-menu
    {
        transform: translateX(var(--hideSize));
    }

    .slider-wrapper--vertical
    {
        width: 60px;
        height: 170px;
    }

    .slider-wrapper--vertical input
    {
        width: 170px;
        height: 60px;
        transform: translateX(-55px) translateY(60px) rotateZ(-90deg);
    }
}

@media (orientation: landscape) and (max-width: 1400px)
{
    :root
    {
        --size: 5.5vw;
        --hideSize: 6.5vw;
        --fontSize: 3.5vw;
    }

    .mini-menu
    {
        height: var(--size);
        width: 100vw;

        position: absolute;
        left: 0;
        bottom: 0;

        z-index: 1;
        margin-bottom: 1vw;
        
        display: flex;
        flex-flow: row;
        
        justify-content: space-evenly;

        transition: transform 1s, top 1s;
    }
    .hidden-mini-menu
    {
        transform: translateY(var(--hideSize));
    }

    .slider-wrapper--vertical
    {
        width: 15vw;
        display: flex;
        justify-content: center;
    }

    .slider-wrapper--vertical input
    {
        width: 80%;
        transform: translateY(2vw);
    }
}

.mini-menu--max-menu
{
    font-size: var(--fontSize);
    background-image: url("../../../../public/Images/shrink-to-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.mini-menu--play:disabled::after, .mini-menu--pause:disabled::after, .mini-menu--stop:disabled::after
{
    content: "";
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    background-color: rgba(155,155,155,0.7);
    position: absolute;
    left: 0;
    top: 0;
}


.mini-menu--center
{
    font-size: var(--fontSize);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    background-image: url("../../../../public/Images/four-converging-arrows-at-the-center.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.mini-menu--menu
{
    font-size: var(--fontSize);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.mini-menu--play, .mini-menu--pause, .mini-menu--stop
{
    position: relative;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    background-size: cover;
    border: none;
}

.slider-wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-wrapper input
{
    width: 80%;
}

.mini-menu--play
{
    background-image: url("../../../../public/Images/Play-button.png");
    cursor: pointer;
}

.mini-menu--pause
{
    background-image: url("../../../../public/Images/pause-button.png");
    cursor: pointer;
}


.mini-menu--stop 
{
    background-image: url("../../../../public/Images/stop-button.png");
    cursor: pointer;
}

.mini-menu--max-menu:enabled:hover, .mini-menu--play:enabled:hover, .mini-menu--pause:enabled:hover, .mini-menu--stop:enabled:hover
{
    scale: 1.05;
}


