


.mini-menu
{
    width: 60px;
    height: 100vh;
    
    position: absolute;
    background: darkgreen;
    left: 0;
    top: 0;
    
    transition: all 1s;
    z-index: 1;
    
    justify-content: space-evenly;
}

.hidden-mini-menu
{
    transform: translateX(-60px);
}

.mini-menu--max-menu
{
    font-size: 24px;
    width: 55px;
    height: 55px;
}

.mini-menu--max-menu, .mini-menu--play, .mini-menu--pause, .mini-menu--stop
{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 60px;
    background-size: cover;
    border: none;
}

.mini-menu--play
{
    background-image: url("../../../../public/Images/Play-button.png");
    cursor: pointer;
}

.mini-menu--pause
{
    background-image: url("../../../../public/Images/pause-button.png");
    cursor: pointer;
}


.mini-menu--stop 
{
    background-image: url("../../../../public/Images/stop-button.png");
    cursor: pointer;
}

.mini-menu--max-menu:hover, .mini-menu--play:hover, .mini-menu--pause:hover, .mini-menu--stop:hover
{
    scale: 1.05;
}

.mini-menu--play:disabled::after, .mini-menu--pause:disabled::after, .mini-menu--stop:disabled::after
{
    content: "";
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgba(155,155,155,0.7);
    position: absolute;
    left: 0;
    top: 0;
}


.mini-menu--center
{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.mini-menu--menu
{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
