
body {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

.flex-container
{
    display: flex;
    flex-flow: row;
}

.field {
    position: relative;
    margin: 20px auto;
    max-width: 1000px;
    width: 90vh;
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: start;
    background-color: beige;
    border-radius: 10px;
    border: solid 2px #58bd58;
    padding: 20px;
}

.row {
    display: flex;
    flex-flow: row;
    background-color: #282c34;
    height: 100%;
}

/*.map::before {*/
/*    position: absolute;*/
/*    left: -12px;*/
/*    top: -10px;*/
/*    max-width: 1020px;*/
/*    width: calc(90vh + 20px);*/
/*    height: calc(90vh + 20px);*/
/*    content: "";*/
/*    background-color: rgb(166, 215, 166);*/
/*    border-radius: 10px;*/
/*    border: solid 2px lawngreen;*/
/*    z-index: -1;*/
/*}*/

.dead-cell, .alive-cell {
    width: 9%;
    height: 90%;
    border-radius: 50%;
    cursor: pointer;
    border: solid 2px #019f01;
    margin: 2px;
}

.dead-cell {
    background-color: rgb(141, 126, 109);
}

.alive-cell {
    background-color: #019f01;
}