.main-container {
    box-sizing: border-box;
    
    display: flex;
    flex-flow: column;
    gap: 30px;
    
    width: 300px;
    min-width: 300px;
    height: 100vh;
    margin-left: auto;
    margin-right: 10px;
    
    padding: 30px 10px 10px 10px;
}


.control--button-play, .control--button-pause, .control--button-stop 
{
    width: 90%;
    height: 125px;
    background-repeat: no-repeat;
}

.control--button-play
{
    text-align: right;
    padding-right: 20px;
    font-size: 50px;
    background-image: url("../../../../public/Images/Play-button.png");
    background-position: 15px 11px;
}

.control--button-pause
{
    background-image: url("../../../../public/Images/pause-button.png");
    background-position: 15px 11px;
    padding-left: 122px;
    text-align: left;
    font-size: 40px;
}

.control--button-stop
{
    text-align: right;
    background-image: url("../../../../public/Images/stop-button.png");
    background-position: 15px 11px;
    padding-right: 15px;
    font-size: 50px;
}

.intervalControl
{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.intervalControl--button
{
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
}

.simulationIntervalInput
{
    width: 170px;
    
}