body
{
  background-color: #006400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.green-button {
  align-self: center;
  border-radius: 10px;
  box-shadow: 3px 3px 5px green;
  background-color: darkgreen;
  color: lawngreen;
  font-weight: bold;
  font-size: 2rem;
  border: solid 2px lawngreen;
  outline-offset: -5px;
  outline-color: rgba(245, 245, 220, 0.32);
  outline-style: solid;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(154, 183, 91, 0.5);
  user-select: none;
}