//.menu-container .wide
//{
//    width: 1000px;
//    left: 400px;
//}
//
//.menu-container .slim
//{
//    width: 550px;
//    left: 400px;
//}

.menu-container
{
    padding: 25px 5px;

    position: fixed;
    top: 3%;
    
    border-radius: 4px;
    background-color: rgba(120, 150, 83, 0.9);
    border: solid 1px #7cd927;
    
    display: flex;
    flex-flow: column;
    
    transition: all 0.5s ease;
    z-index: 2;
}

.top-buttons-container
{
    justify-content: space-evenly;
    flex-flow: row;
    display: flex;
}

.fixed
{
    position: fixed;
}



.menu
{
    button:hover
    {
        transform: scale(1.05);
    }

    min-width: 450px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    user-select: none;

    .menu--item-container
    {
        width: 400px;
        margin: 15px auto;
        display: flex;
        flex-flow: row;

        .menu--choose-button
        {
            width: 75%;
        }
        
        .menu--button-image
        {
            border: double 5px green;
        }

        .menu--field-name
        {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 1.5rem;

            .menu--field-rename-button
            {
                margin-left: 5px;
                background-color: inherit;
                border: none;
                cursor: pointer;
            }
        }

        .menu--delete-field-button
        {
            height: 100%;
            width: 20%;
            margin-left: auto;
            background-image: url("../../../public/Images/delete.svg");

            box-shadow: 3px 3px 5px green;
            background-color: darkgreen;
            border: solid 1px lawngreen;
            color: lawngreen;
            background-size: cover;
            border-radius: 4px;
             
            cursor: pointer;
        }
        
        .menu--vertical-container
        {
            width: 100%;
            display: flex;
            flex-flow: column;
            margin-left: 15px;
        }
    }

    .menu--field--choose-delete-buttons {
        display: flex;
        margin-top: auto;
    }

}

.menu--field-rename-input:focus
{
    width: 60%;
    border: none;
    font-size: 1.3rem;
    border-radius: 5px;
 }

.menu--arrow-up, .menu--arrow-down
{
    width: 200px;
    height: 20px;
    min-height: 20px;
    background-color: brown;
    display: flex;
    align-self: center;
    background-size: contain;
    cursor: pointer;
}

.menu--arrow-up
{
    background-image: url("../../../public/Images/Arrow-up.png");
}

.menu--arrow-down
{
    background-image: url("../../../public/Images/Arrow-down.png");
}

.menu--arrow-up:hover, .menu--arrow-down:hover
{
    transform: scale(1.05);
}

.pointer
{
    cursor: pointer;
}

.patterns
{
    margin: 15px auto 0;
    width:0;
    height: 700px;
    overflow: hidden auto;

    -moz-animation: showIn05Animation 0s ease-in 0.5s forwards;
    /* Firefox */
    -webkit-animation: showIn05Animation 0s ease-in 0.5s forwards;
    /* Safari and Chrome */
    -o-animation: showIn05Animation 0s ease-in 0.5s forwards;
    /* Opera */
    animation: showIn05Animation 0s ease-in 0.5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes showIn05Animation {
    to {
        width: 900px;
    }
}
@-webkit-keyframes showIn05Animation {
    to {
        width: 900px;
        visibility: visible;
    }
}

.patterns-container
{
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: space-evenly;

}

.patterns--item
{
    width: 100%;
    height: 300px;
    outline: double 3px darkgreen;
    outline-offset: -3px;
    position: relative;
}

.patterns--item:hover
{
    
    outline: solid 10px darkgreen;
    outline-offset: -10px;
}

.pattern--image
{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    border-right: double 3px darkgreen;
    
}