
.menu
{
    margin: 5vh auto;
    padding: 25px 5px;
    position: relative;
    max-width: 600px;
    width: 450px;
    max-height: 90vh;

    display: flex;
    flex-flow: column;
    
    background-color: beige;
    border-radius: 10px;
    border: solid 2px #58bd58;
    
    gap: 30px;
}

.menu > button
{
    margin: 0 auto;
    width: 400px;
    height: 10vh;
    font-size: 40px;
}

.menu--item-container
{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
}

.menu--button-image
{
    border: double 5px green;
}

.menu--vertical-container
{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-left: 15px;
}

.menu--field-name
{
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu--delete-field-button
{
    height: 100%;
    width: 20%;
    margin-left: auto;
    background-image: url("../../../public/Images/delete-button.png");

    background-size: cover;
    border-color: brown;
    border-radius: 10px;
    box-shadow: 3px 3px 5px brown;
    cursor: pointer;
}

.menu--choose-button
{
    width: 75%;
}

.menu--field--choose-delete-buttons {
    display: flex;
    margin-top: auto;
}

.menu--field-rename-button
{
    height: 1rem;
    width: 1rem;
    margin-left: 5px;
    background-image: url("../../../public/Images/edit.png");
    background-size: cover;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.menu--field-rename-input:focus, .menu--field-rename-input
{
    border: none;
    border-radius: 5px;
 }