
.menu
{
    margin: 5vh auto;
    padding: 25px 5px;
    position: relative;
    max-width: 600px;
    width: 450px;
    
    display: flex;
    flex-flow: column;
    
    background-color: beige;
    border-radius: 10px;
    border: solid 4px #7cd927;
    gap: 20px;

    user-select: none;
}

.menu > button
{
    margin: 0 auto;
    width: 400px;
    height: 60px;
    font-size: 40px;
}
.menu > button:hover
 {
    transform: scale(1.05);
 }

.menu--item-container
{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    
        
}

.menu--button-image
{
    border: double 5px green;
}

.menu--vertical-container
{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-left: 15px;
}

.menu--field-name
{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.menu--delete-field-button
{
    height: 100%;
    width: 20%;
    margin-left: auto;
    background-image: url("../../../public/Images/delete-button.png");

    background-size: cover;
    border-color: brown;
    border-radius: 10px;
    box-shadow: 3px 3px 5px brown;
    cursor: pointer;
}
.menu--delete-field-button:hover
{
    transform: scale(1.05);
}

.menu--choose-button
{
    width: 75%;
}

.menu--choose-button:hover
{
    transform: scale(1.05);
}

.menu--field--choose-delete-buttons {
    display: flex;
    margin-top: auto;
}

.menu--field-rename-button
{
    height: 1rem;
    width: 1rem;
    margin-left: 5px;
    background-image: url("../../../public/Images/edit.png");
    background-size: cover;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.menu--field-rename-input:focus
{
    width: 60%;
    border: none;
    font-size: 1.3rem;
    border-radius: 5px;
 }

.menu--arrow-up, .menu--arrow-down
{
    width: 200px;
    height: 20px;
    min-height: 20px;
    background-color: brown;
    display: flex;
    align-self: center;
    background-size: contain;
    cursor: pointer;
}

.menu--arrow-up
{
    background-image: url("../../../public/Images/Arrow-up.png");
}

.menu--arrow-down
{
    background-image: url("../../../public/Images/Arrow-down.png");
}

.menu--arrow-up:hover, .menu--arrow-down:hover
{
    transform: scale(1.05);
}

.pointer
{
    cursor: pointer;
}