
body {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

.flex-hor-container
{
    display: flex;
    flex-flow: row;
}

.flex-vert-container
{
    display: flex;
    flex-flow: column;
}

.field {
    padding: 0;
    
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: beige;
    border: solid 2px #58bd58;
    overflow:hidden;
    
    position: relative;
}

.field-canvas 
{
    position: relative;
    background-color: #aaaaaa;
}